.container {
    display: grid;

}

.grid-row {
    display: flex;

}

.column-row {
    display: flex;
    border: 1px solid black;
    
    
}

.column-row:hover {
    background-color: rgb(255, 217, 0);

}

.grid-button {
    border: black solid 2px;
    margin-bottom: 10px;
}